	.view-mobile-researchers-term-{
		display:none;
			}
	#block-block-92{
		display:none;
	}
	#block-views-829d0687dbef600e85a6b1aa5f822d97{
		display:none;
	}
	#block-views-research-news-block-11{
		display:none;
	} 
		
	.view-subtopic-titles table tr { 
	background-color:red;
	 /* Old browsers */
	font-size:1em;
	padding: 25px 10px;
	border-bottom:1px solid #EEE8AA;
	border-bottom:1px solid tomato;
	border-left: 25pxpx solid #FAFAD2;
	background-color:#FAFAD2;
	background-color: red;
	background-color: yellow;
}


		body
		{
		color: magenta
		}