	.view-mobile-researchers-term-{
		display:none;
			}
	#block-block-92{
		display:none;
	}
	#block-views-829d0687dbef600e85a6b1aa5f822d97{
		display:none;
	}
	#block-views-research-news-block-11{
		display:none;
	}
	body{
	color:magenta;
	}
