/* Link colors */
a { color:#397196; }

#footer-message a, #footer .block a { color:#d2d6d7; }

blockquote { color:#3b3d3a; background:transparent url('images/gray/blockquote.png') no-repeat left top; }

img.banner { border:1px solid #cbd0d0; }

/* Heading colors */
h1, h2, h3, h4, h5, h6 { color:#397196; }

.block h2 { border-bottom:1px solid #397196; }

#footer .block h2 { color:#d2d6d7; }

/* Layout colors */
body  { color: #3b3d3a; background:#f7f6f1; }

#header-navigation { border-top:8px solid #474948; border-bottom:8px solid #c0c2c1; background:#373938; color:#d2d6d7; }

#header-content { background:#f6f8f7; color:#3b3d3a;  }

#header-subscribe { background:#cbd0d0; color:#474948; border-bottom:12px solid #e3e3e3;  }

#page { background:#f7f6f1; border-bottom:9px solid #c7c7c7; }

#footer { border-top:75px solid #2b2c2c; color:#8d8e92; background:#373938; }

#footer-message { color:#8d8e92; background:#2b2c2c; }

/* Header field colors*/
.site-fields, .site-fields a { color:#3b3d3a; }

.site-fields #site-name a { color:#397196; }

.site-fields #site-name a:hover { color:#478cba; }

/* Footer colors */
#footer ul.menu li, .view-display-id-recent_posts .views-field-title { border-bottom:1px solid #484a4a; }

#content ul.menu li, #content .block-locale ul li { border-bottom: 1px dotted #69aad2; }

/* Main navigation */
/* 1st Level */
#main-menu ul.menu li a { color:#d2d6d7; }

#main-menu ul.menu li a:hover, #main-menu ul.menu li a.active { color:#69aad2; }

#main-menu ul.menu li.expanded a { background:transparent url('images/gray/main-menu-expanded.png') no-repeat center right; }

/* 2nd Level */
#main-menu ul.menu li.expanded ul.menu { background: #373938; }

#main-menu ul.menu li.expanded ul.menu li.expanded { background:transparent url('images/gray/main-menu-arrow.png') no-repeat center right; }

#main-menu ul.menu li ul.menu li a:hover {  background:#b5b2a8; color:#2e302d;  }

#main-menu ul.menu li.expanded ul.menu li.expanded a:hover { background:#c0c2c1 url('images/gray/main-menu-arrow-hover.png') no-repeat center right; }

#main-menu ul.menu li.expanded ul.menu li.leaf a:hover { background:#c0c2c1; }

/* Main navigation - Superfish support */
.region-main-navigation .block-superfish ul li a { color:#d2d6d7; }

.region-main-navigation .block-superfish ul li a:hover, .region-main-navigation .block-superfish ul li a.active { color:#69aad2; }

.region-main-navigation .block-superfish ul li a.menuparent { background:transparent url('images/gray/main-menu-expanded.png') no-repeat center right; }

.region-main-navigation .block-superfish ul ul li { background: #373938; }

.region-main-navigation .block-superfish ul ul li a:hover { background:#c0c2c1; color:#2e302d; }

.region-main-navigation .block-superfish ul ul li.menuparent { background:#373938 url('images/gray/main-menu-arrow.png') no-repeat center right; }

.region-main-navigation .block-superfish ul ul li.menuparent a.menuparent:hover,
.region-main-navigation .block-superfish ul ul li.sfHover > a.menuparent  { color:#2e302d; background:#c0c2c1 url('images/gray/main-menu-arrow-hover.png') no-repeat center right; }

.region-main-navigation .block-superfish ul li a.active { color:#d2d6d7; }

/* Secondary navigation */
/* 1st Level */
#secondary-menu ul.menu li a { color:#3b3d3a; }

#secondary-menu ul.menu li a:hover, #secondary-menu ul.menu li a.active { color:#448bb7; }

#secondary-menu ul.menu li.expanded a { background:transparent url('images/gray/secondary-menu-expanded.png') no-repeat center right; }

/* 2nd Level */
#secondary-menu ul.menu li.expanded ul.menu { background: #CBD0D0; }

#secondary-menu ul.menu li.expanded ul.menu li.expanded { background:transparent url('images/gray/secondary-menu-arrow.png') no-repeat center right; }

#secondary-menu ul.menu li ul.menu li a:hover, #secondary-menu ul.menu li.expanded ul.menu li.leaf a:hover { background:#e3e3e3; }

#secondary-menu ul.menu li.expanded ul.menu li.expanded a:hover { background:#e3e3e3 url('images/gray/secondary-menu-arrow.png') no-repeat center right; }

#secondary-menu ul.menu li.expanded ul.menu li.leaf a:hover { background:#e3e3e3; }

/* Secondary navigation - Superfish support */
.region-secondary-navigation .block-superfish ul li a { color:#474948; }

.region-secondary-navigation .block-superfish ul li a:hover, .region-secondary-navigation .block-superfish ul li a.active { color:#448bb7; }

.region-secondary-navigation .block-superfish ul li a.menuparent { background:transparent url('images/gray/secondary-menu-expanded.png') no-repeat center right; }

.region-secondary-navigation .block-superfish ul ul li { background: #cbd0d0; }

.region-secondary-navigation .block-superfish ul ul li a:hover { background:#e3e3e3; }

.region-secondary-navigation .block-superfish ul ul li.menuparent { background:#cbd0d0 url('images/gray/secondary-menu-arrow.png') no-repeat center right; }

.region-secondary-navigation .block-superfish ul ul li a.menuparent { background:none; color:#474948; }

.region-secondary-navigation .block-superfish ul ul li.menuparent a.menuparent:hover,
.region-secondary-navigation .block-superfish ul ul li.sfHover > a.menuparent  { background:#e3e3e3 url('images/gray/secondary-menu-arrow.png') no-repeat center right; color:#448bb7; }

.region-secondary-navigation .block-superfish ul ul li a.active { color:#474948; }
.region-secondary-navigation .block-superfish ul ul li a.active:hover { color:#448bb7; }

/* Search block */
#block-search-form .content { background:#f6f8f7;
 /* shadow */
-webkit-box-shadow: inset 0px 2px 8px #9ea09f;  -moz-box-shadow: inset 0px 2px 8px #9ea09f;  box-shadow: inset 0px 2px 8px #9ea09f; }

#block-search-form input.form-text { color:#397196; }

#block-search-form input.form-submit { background:url('images/gray/search-submit.png') no-repeat; }

/* Subscribe links */
ul.subscribe-links li.rss { background:url('images/gray/rss.png') no-repeat center left; }

ul.subscribe-links li.email { background:url('images/gray/email.png') no-repeat center left; }

ul.subscribe-links li a:link, ul.subscribe-links li a:visited, .region-header-bottom ul.menu li a {  color:#474948; }

/* Javascript slideshow */
.slider-text { color:#69aad2; } 

.slider-text a { color:#F6F8F7; } 

a#prev{ background:url('images/gray/backward_slide.png') no-repeat center; }

a#next{ background:url('images/gray/forward_slide.png') no-repeat center; }

/* Tab colors*/
ul.TabbedPanelsTabGroup { background:#e3e3e3; }

.TabbedPanelsTab { background:#e3e3e3; border-right:1px solid #ffffff; border-bottom:1px solid #ffffff; }

.TabbedPanelsTab { color: #3b3d3a; }

.TabbedPanelsTabHover { color: #397196; }

.TabbedPanelsTabSelected { background: #cbd0d0; color:#397196; 	border-bottom:1px solid #cbd0d0; }

.TabbedPanelsContentGroup { border: 4px solid #cbd0d0; }

/* Latest articles View colors*/
.view-latest-blogposts .views-field-title a { color:#f6f8f7; }

.view-latest-blogposts .views-field-created { color:#69aad2; }

/* Older articles View colors*/
.view-older-articles .views-field-title a { color:#3b3d3a; }

.view-older-articles .views-field-created { color:#397196; border-bottom:1px dotted #69aad2; }

/* Sidebar (Tab) Latest Articles, Sidebar (Tab) Comments colors */
.view-latest-articles .views-row, .view-popular-articles .views-row, .view-comments-recent .views-row { border-bottom:1px solid #cbd0d0; }

.view-latest-articles .views-row-last, .view-popular-articles .views-row-last, .view-comments-recent .views-row-last { border-bottom:none; }

/* Archives View colors */
.view-archive .views-summary { color:#397196; border-bottom:1px dotted #69aad2; }

.view-archive .views-summary a { color:#3b3d3a; }

/* Taxonomy */
.taxonomy-term-description { border-bottom:3px solid #3b3d3a; color:#3b3d3a;  }

.taxonomy-node { border-bottom:1px solid #397196; }

.taxonomy-meta { color:#3b3d3a; }

/* Latest Tweets colors */
#block-mtt-twitter-latest-tweets { background:#e3e3e3; }

.twtr-widget#twtr-widget-1 .twtr-tweet { border-bottom:1px solid #cbd0d0 !important; }

.twtr-widget#twtr-widget-1 .twtr-tweet a { color:#397196 !important; }

.twtr-widget#twtr-widget-1 .twtr-tweet p { color:#3b3d3a !important; }

h5.latest-tweets { color:#3b3d3a; }

/* Node */
.breadcrumb, .node .subtitle, .meta-left, .author-info, .author-info .title { color:#3b3d3a; }

.breadcrumb { border-bottom:3px solid #cbd0d0; }

.meta-data { border-top:1px solid #397196; border-bottom:1px solid #397196; }

.field-type-taxonomy-term-reference .field-label { color:#718795; }

.author-info { border-top:1px solid #397196; border-bottom:1px solid #397196; }

/* Module - Contact Form - Comment Form */
#contact-site-form label, #comment-form label, #search-form label { color:#397196;  }

#contact-site-form span.form-required { color:#397196; }

#contact-site-form .form-text, #comment-form .form-text, .block-user .form-text, #user-login .form-text, #search-form .form-text { background:#e3e3e3; border:1px solid #cbd0d0; }

#contact-site-form textarea, #comment-form textarea { background:#e3e3e3; border:1px solid #cbd0d0; }

#contact-site-form .form-submit, #comment-form .form-submit, .block-user .form-submit, #user-login .form-submit, #search-form .form-submit { background:#397196; }

#contact-site-form .form-submit:hover, #comment-form .form-submit:hover, 
.block-user .form-submit:hover, #user-login .form-submit:hover, #search-form .form-submit:hover { background:#478cba; }

li.comment-add a, li.comment-add a.active { color:#397196; }

fieldset { border:1px solid #cbd0d0; }

.required-message { border-bottom:1px solid #397196; color:#397196; }

#contact-info-text h2, #contact-info-text { color:#3b3d3a; }

/* Comments */
.comments-title { color:#397196; border-bottom:3px solid #cbd0d0; }

.comment-meta { border-bottom:1px solid #cbd0d0; }

.comment-meta-time { color:#3b3d3a; }

.comment-links ul.inline.links li { color:#718795; }

.comment-links ul.inline.links li a {  background:#cbd0d0; color:#3b3d3a;  }

/* Back to top action */
#toTop { background:#397196 url("images/backtotop-arrow.png") no-repeat 8px center; color:#ffffff; }

/* Flickr */
.flickr-photo-img { border:3px solid #c7c7c7; }

.flickr-photo-img:hover { border:3px solid #ffffff; }

/* Followme */
#followme { border-bottom:1px solid #397196;}

#followme-title-left { color:#3b3d3a; }

#followme-title-right { color:#397196; }

/* Tables */
table { border:none; }

table th { background:#cbd0d0; color:#3B3D3A; border:none; }

table tr.odd { background:#e3e3e3; }

table tr.even { background:#ffffff; }

/* Links */
ul.inline.links li { border-right:1px solid #397196; }

ul.inline.links li.last { border-right:none; }

/* Multiple images implementation */
.yoxview-image-items { border-top:1px solid #397196; border-bottom:1px solid #397196; }

.field-type-image-caption { color:#69aad2; }