.views_slideshow_cycle_main {
width: 100%;
float: left;
margin-left: 30px;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
width: 100% !important;
height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
width: 100% !important;
height: auto;
}
.views_slideshow_cycle_main .field-content {
max-width: 90%;
width: 100%;
}
.views_slideshow_cycle_main .field-content img {
max-width: 100%;
width: 100%;
max-width: 87%;
height: auto;
margin: 0;
padding: 0;
border: solid 1px;
}

/*The CSS code for the text overlay*/


#homeslidecontent h2 {
background-color: rgba(0,0,0,0.7);
color: #ffffff;
font-size: 18px;
font-weight: 600;
left: 1px;
padding: 10px 0;
position: absolute;
text-indent: 5px;
text-shadow: 1px 1px 1px #000000;
bottom: 22px;
max-width: 78.5%;
width: 100%;
}